@import "../../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.skill-container {
    width: 25rem;
}

.skills-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 55rem;
    height: 25rem;
    margin-top: auto;
}

.left-skill-part {
    background-color: black;
    color:white;
    text-align: end;
    padding: 3rem;
}

.right-skill-part {
    text-align: start;
    padding: 3rem;
}

.left-skill-part > h3 {
    margin-bottom: 1rem;
    font-size: 24px;
}

.right-skill-part > h3 {
    font-size: 24px;
    margin-bottom: 1rem;    
}

.card > header {
    width: 55rem;
    margin-bottom: auto;
    text-align: center;
    margin-top: 0.5rem;
    padding: 1rem;
}

.card > header > h2 {
    font-size: 30px;
}