a {
  text-decoration: none;
  color: black;
}

#social-buttons {
  box-shadow: 0px 6px 11px 0px #555;
}

.App {
  position: relative;
  height: 100vh;
  min-height: 55rem;
}

.flex {
  display: flex;
}

.p-1rem {
  padding: 1rem;
}

.img-bg {
  background-image: url("./components/partials/img/code.jpg");
  height: 30rem;
  opacity: 0.85;
  background-size: cover;
}

.App > header {
  display: flex;
  box-shadow: 0px 0px 15px 5px #000;
}